<div class="container">
    <app-home 
    image="/img/gato.jpg" 
    title="Gatos" 
    info="Los gatos domésticos, sin importar su raza, pertenecen a la especie Felis silvestris catus. 
    La relación entre los humanos y los gatos se remonta a hace miles de años. Se cree que los antiguos egipcios 
    fueron los primeros en domesticar gatos." 
    text_btn="Ver más"
    [clickEvent]="verMas"
    />

    <app-home 
    image="/img/perro.jpg" 
    title="Perros" 
    info="Existen alrededor de 800 razas de perros en todo el mundo. Algunas son más dóciles, otras más activas, 
    y cada una tiene su propia personalidad. Desde los pequeños chihuahuas hasta los majestuosos pastores alemanes, 
    hay una gran diversidad de razas caninas." 
    text_btn="Ver más"
    [clickEvent]="verMas"
    />

    <app-home 
    image="/img/hamster.jpg" 
    title="Hamsters" 
    info="Los hámsteres son pequeños roedores que pertenecen a la familia Cricetidae. 
    Son originarios de Siria, aunque también se pueden encontrar en Europa y Asia. 
    A pesar de su tamaño, son animales muy activos. Siendo principalmente nocturnos."
    text_btn="Ver más"
    [clickEvent]="verMas"
    />

    <app-home 
    image="/img/rana.jpg" 
    title="Ranas" 
    info="Las ranas son anfibios que pertenecen al orden Anura. Se caracterizan por tener un ciclo de vida que incluye la metamorfosis. 
    Existen más de 4,800 especies de ranas en todo el mundo, que varían en tamaño, color y comportamiento."
    text_btn="Ver más"
    [clickEvent]="verMas"
    />
    

</div>
<router-outlet/>