.btn {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #735E51;
    border: none;
    border-radius: 5px;
    &:active {
        background-color: #26211F;
    }
}